h1 {
  color: green;
  text-align: center;
  font-size: 200px;
}

img {
  display: block;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

p {
  font-stretch: ultra-expanded;
  font-weight: 600;
  text-align: center;
}

ul {
  width: 10%;
  margin: auto;
  color: red;
}
